@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);

$dark-gray: hsl(0, 0%, 59%);

/**
    Font size (name and stats): 18px
**/

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;

    background-color: $dark-cyan;
    color: $very-dark-desaturated-blue;

    overflow: hidden;
}

a { color: inherit; text-decoration: none; }

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("../../images/bg-pattern-top.svg") left -300px top -443px no-repeat, url("../../images/bg-pattern-bottom.svg") right -300px bottom -443px no-repeat;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;

    margin: 0 20px;

    max-width: 370px;

    background-color: #FFF;

    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(27, 28, 30, .3);

    transition: box-shadow 400ms;

    overflow: hidden;

    .card__header {
        height: 212px;
        img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        .card__thumb {
            display: flex;
            justify-content: center;
            position: relative;

            bottom: 55px;

            transform: scale(1);
            transition: transform 0.5s;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
            
            .card__thumb--profile {
                border-radius: 50%;
                border: 5px solid #ffffff;
            }
        }
    }

    .card__body {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 14px;
        line-height: 2em;

        .card__name {
            font-size: 18px;
            font-weight: 700;
        }
        .card__age {
            color: $dark-grayish-blue;
            font-weight: 400;
        }
        .card__city {
            color: $dark-gray;
            font-size: 14px;
        }
    }

    .card__footer {
        padding: 34px 14px;

        border-top: 1px solid $dark-gray;
        .card__socials {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .card__socials--number {
                font-size: 18px;
                font-weight: 700; 
            }
            .card__socials--name {
                color: $dark-gray;
                font-size: 12px;
            }
        }
    }
}

.attribution {
    position: relative;
    bottom: 5%;
    font-size: 1rem;
    text-align: center;
    color: #FFF;
    a {
        color: hsl(229, 23%, 23%);
        transition-duration: .3s;
        &:hover {
            color: hsl(229, 23%, 23%);
        }
    }
}

@media only screen and (max-width: 1750px) {
    .wrapper {
        background: url("../../images/bg-pattern-top.svg") left -400px top -543px no-repeat, url("../../images/bg-pattern-bottom.svg") right -400px bottom -543px no-repeat;
    }
}

@media only screen and (max-width: 1540px) {
    .wrapper {
        background: url("../../images/bg-pattern-top.svg") left -500px top -643px no-repeat, url("../../images/bg-pattern-bottom.svg") right -500px bottom -643px no-repeat;
    }
}

@media only screen and (max-width: 1280px) {
    .wrapper {
        background: url("../../images/bg-pattern-top.svg") left -700px top -743px no-repeat, url("../../images/bg-pattern-bottom.svg") right -700px bottom -743px no-repeat;
    }
}