@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$dark-blue: #1d1e35;
$soft-red: #f47c57;

$gradient-soft-violet: hsl(273, 75%, 66%);
$gradient-blue: hsl(240, 73%, 65%);

$text-dark-blue: #4a4b5e;
$text-blue: #787887;

$divider-color: #e7e7e9;

$font-family: 'Kumbh Sans', sans-serif;
$font-size: 12px;
$regular: 400;
$bold: 700;